// Theme's Styles
@import("/Users/gaurish/Desktop/Coding/Cofo-Framework/docs/node_modules/vuepress-theme-vt/styles/index.styl")

// User's Styles
@import("/Users/gaurish/Desktop/Coding/Cofo-Framework/docs/docs/.vuepress/styles/index.styl")